*.iml
*.ids
*.ipr
*.iws
*.log
.classpath
.idea
.project
.settings
grails-plugin-*.zip
out
plugin.xml
target
target-eclipse
x-local
.sass-cache
atlassian-ide-plugin.xml
.DS_Store
*.swp
grailsw
wrapper
grails-app/assets/libs/bower_components/*

